.contributor {
  display: flex;
  margin: $sp-4 0;

  .contributor-image {
    border-radius: 50%;
    height: 100px;
    margin-right: $sp-4;
    width: auto;
  }

  p,
  .contributor-name {
    margin: $sp-1 !important;

  .anchor-heading {
      width: 1.8rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  .contributor-badge {
    @extend .label, .text-grey-dk-300, .bg-grey-lt-200;

    -webkit-user-select: none;
    user-select: none;
  }

  .contributor-meta {
    color: $grey-dk-300;
  }
}
